*.iml
.gradle
/.lint-run*.log
/app-lint*.log
/.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.android-sdk
/commandlinetools-win-*_latest.zip
local.properties
